<!-- src\app\components\quiz\quiz.component.html -->
<div
  *ngIf="!showResult"
  @fadeIn
  class="flex flex-1 flex-col items-center justify-center space-y-6 p-6"
>
  <div class="mb-2 flex w-full justify-between">
    <span>Question {{ currentIndex + 1 }} / {{ questions.length }}</span>
    <span
      >{{
        ((currentIndex + 1) / questions.length) * 100 | number: "1.0-0"
      }}%</span
    >
    <p>Score: {{ score }} / {{ questions.length }}</p>
  </div>
  <p-progressbar
    mode="determinate"
    [value]="((currentIndex + 1) / questions.length) * 100"
    [showValue]="true"
    styleClass="w-full mb-4"
  />
  <h2>{{ currentQuestion.question }}</h2>
  <p-image
    *ngIf="currentQuestion.image"
    [src]="currentQuestion.image"
    [alt]="'Illustration – ' + currentQuestion.question"
    width="500"
  />
  <ul class="grid grid-cols-2 gap-8">
    <li *ngFor="let c of currentQuestion.choices" class="w-full">
      <p-button
        [label]="c"
        (click)="answer(c)"
        (keydown.enter)="answer(c)"
        (keydown.space)="answer(c)"
        [disabled]="!!selectedChoice"
        [styleClass]="
          selectedChoice === c
            ? c === currentQuestion.answer
              ? 'p-button-success w-full'
              : 'p-button-danger w-full'
            : 'w-full'
        "
      />
    </li>
  </ul>
  <p-button
    label="Suivant →"
    (click)="next()"
    (keydown.enter)="next()"
    (keydown.space)="next()"
    [disabled]="!selectedChoice"
    class="mt-4"
  />
</div>
<div *ngIf="showResult">
  <h2>Résultat: {{ score }} / {{ questions.length }}</h2>
  <p>{{ getFeedbackMessage() }}</p>
  <p-button
    label="Rejouer"
    aria-label="Recommencer le quiz"
    (click)="restart()"
    (keydown.enter)="restart()"
    (keydown.space)="restart()"
  />
</div>
